In [4]:
import pandas as pd

In [5]:
dailyweather = pd.read_parquet('/home/ugo/masterbfg/Kaggle/Weather/daily_weather.parquet', engine = 'fastparquet')

In [6]:
dailyweather

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
0,41515,Asadabad,1957-07-01,Summer,27.0,21.1,35.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,41515,Asadabad,1957-07-02,Summer,22.8,18.9,32.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41515,Asadabad,1957-07-03,Summer,24.3,16.7,35.6,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,41515,Asadabad,1957-07-04,Summer,26.6,16.1,37.8,4.1,NaN,NaN,NaN,NaN,NaN,NaN
4,41515,Asadabad,1957-07-05,Summer,30.8,20.0,41.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24216,67975,Masvingo,2023-09-01,Spring,19.5,9.6,28.4,NaN,NaN,180.0,4.6,NaN,NaN,NaN
24217,67975,Masvingo,2023-09-02,Spring,21.3,10.5,31.4,NaN,NaN,146.0,6.3,NaN,NaN,NaN
24218,67975,Masvingo,2023-09-03,Spring,22.1,13.0,31.5,NaN,NaN,147.0,8.2,NaN,NaN,NaN
24219,67975,Masvingo,2023-09-04,Spring,21.5,13.1,29.7,NaN,NaN,155.0,10.2,NaN,NaN,NaN
24220,67975,Masvingo,2023-09-05,Spring,20.0,14.0,27.3,NaN,NaN,141.0,12.9,NaN,NaN,NaN

In [7]:
dailyweather.head()

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
0,41515,Asadabad,1957-07-01,Summer,27.0,21.1,35.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,41515,Asadabad,1957-07-02,Summer,22.8,18.9,32.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41515,Asadabad,1957-07-03,Summer,24.3,16.7,35.6,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,41515,Asadabad,1957-07-04,Summer,26.6,16.1,37.8,4.1,NaN,NaN,NaN,NaN,NaN,NaN
4,41515,Asadabad,1957-07-05,Summer,30.8,20.0,41.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
dailyweather.tail()

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
24216,67975,Masvingo,2023-09-01,Spring,19.5,9.6,28.4,NaN,NaN,180.0,4.6,NaN,NaN,NaN
24217,67975,Masvingo,2023-09-02,Spring,21.3,10.5,31.4,NaN,NaN,146.0,6.3,NaN,NaN,NaN
24218,67975,Masvingo,2023-09-03,Spring,22.1,13.0,31.5,NaN,NaN,147.0,8.2,NaN,NaN,NaN
24219,67975,Masvingo,2023-09-04,Spring,21.5,13.1,29.7,NaN,NaN,155.0,10.2,NaN,NaN,NaN
24220,67975,Masvingo,2023-09-05,Spring,20.0,14.0,27.3,NaN,NaN,141.0,12.9,NaN,NaN,NaN

In [11]:
dailyweather.shape

(27635763, 14)

In [14]:
dw_na = dailyweather.dropna()

In [15]:
dw_na.shape

(386303, 14)

## Q. 1)  Find all the unique 'Wind Speed' values in the data.

In [20]:
dw_na['avg_wind_speed_kmh'].unique()

array([ 9.5, 18.9, 14.6, 11.3, 21.4, 23.7, 21.1, 19.7,  8.6, 13.4, 19.5,
       24.4, 24.1, 21.8, 23.6, 20.2, 14.5, 13.6,  8.3, 12.2, 12.7, 25. ,
       21. , 23.2, 23.8, 26.3, 16.8, 22.7, 24.8, 28.9, 24.2, 18.6, 16.6,
       22.1, 19.3, 30.1, 10.5, 13.9, 13. , 17.3, 24.9, 14.9, 16.9, 21.2,
       20.1, 16. , 13.5, 11.4, 22.5, 27.1, 29.4, 31.1, 30.9, 34.7, 31.7,
       26. , 15.2, 24. , 20. , 24.7, 22.3, 12.6, 17.1, 27.2, 26.2, 26.7,
       28.3, 28.2, 12.4, 16.5, 13.3, 11.1, 21.5, 10.3, 15.9, 20.7, 15.5,
       24.6, 24.3, 23.3, 26.1, 25.7, 15.4, 16.4, 13.7,  9.4, 11.9, 10.4,
       12.9, 18.2, 11.7, 25.8, 12.1, 28.7, 18.8, 17.9, 25.3, 13.1, 16.1,
       17.4, 14.8, 14.7, 16.3, 21.7, 18.7, 14.3, 12.8, 17. , 26.4, 34.5,
       26.6, 25.2, 31. , 24.5, 14. , 19.8, 15. , 17.8, 11.8, 32.5, 32.1,
       33.6, 39.9, 26.5, 20.6, 23.5, 20.4, 27.3, 18.1,  8.9, 20.9, 17.5,
       20.5, 22.9, 25.9, 12.3, 17.7, 22.2, 34.2, 10.8, 10.6, 27.9, 32.3,
       18.4, 19.9, 27. , 25.4, 22.6, 31.4, 32.9, 23.1, 17.2, 11.5, 29.9,
       29. ,  9.2, 28.5, 30.6, 31.2, 32.6, 28.1, 30.4, 16.2, 33.5, 19.2,
       29.2, 20.8, 30.2, 18.5, 31.9, 30. , 28. , 11. , 27.6, 27.7, 31.5,
       22.4, 23.9, 25.1, 22.8, 26.8, 20.3, 26.9, 12.5, 29.7, 34.3, 35.4,
       29.6, 33.1, 28.6, 23. , 19. , 33.3, 25.5, 28.8, 27.4, 15.7, 18. ,
       19.6, 19.4, 21.3, 15.6, 21.6, 17.6, 19.1, 18.3, 10.2, 21.9, 13.2,
       16.7, 27.5, 28.4, 15.1,  9.3, 29.1, 32.7, 37.1, 35.8, 29.3, 33.4,
       35.2, 31.8, 29.8, 15.3, 25.6, 30.7, 32.4, 35. , 36.6, 36.3, 35.1,
       34.6, 13.8, 11.2, 10.1, 15.8, 14.4,  9. , 23.4, 22. , 34.9, 39.2,
       36. , 29.5, 37.4, 31.3, 33.8, 35.3, 32. , 41. , 37.8, 32.8, 38.5,
       40. ,  9.7, 43.2, 36.7, 38.9, 36.4, 35.6, 42.5, 40.7, 52.9, 78.5,
       44.3,  7.6, 42.1, 63.4,  7.9, 41.8, 40.3, 33. , 38.2, 44.6, 45.7,
       52.6, 47.2,  4.3,  6.8, 39.6, 46.8, 43.9, 46.1, 42.8,  6.5, 50.4,
       41.4, 45.4,  5.8, 60.1, 51.1,  7.2, 46.4, 43.6, 55.8, 45. ,  5. ,
       53.6, 49.3, 51.8, 64.8,  6.1, 47.5, 52.2, 49.7, 50.8, 48.2, 47.9,
       51.5, 54. , 48.6, 55.4, 56.9, 58.3, 49. , 50. , 56.5,  4.7, 57.6,
        5.4, 70.6, 55.1, 54.4, 58. , 56.2, 77. , 54.7, 53.3, 58.7, 59. ,
       59.8, 59.4,  4. ,  2.9,  3.2,  3.6,  2.5,  1.8,  1.4,  2.2,  0. ,
       60.8,  0.4,  8.5,  8. , 14.2,  0.7,  1.1,  9.9,  8.1,  4.4, 14.1,
       12. ,  7.3,  9.1,  8.2,  6.9,  5.2,  7.7,  6.4,  9.8,  8.8, 65.9,
        7.1,  8.7,  7.4,  5.6,  7.5,  8.4, 10.9,  9.6, 11.6, 30.3, 27.8,
       10.7, 10. , 40.4, 62.3, 65.5, 57.2, 61.6, 79.2, 64.1, 65.2, 61.9,
       60.5, 61.2, 76. , 71.3, 68.8, 66.2, 69.5, 82.8, 68. , 64.4, 71.6,
       72.4, 67.7, 67.3, 92.2, 62.6, 63. , 70.9, 75.2, 79.9, 67. , 73.1,
       74.2, 84.2, 69.1, 66.6, 68.4, 35.9, 46. , 31.6, 41.9, 46.3, 34. ,
       81. , 83.5, 69.8, 63.7, 72.7,  2.7,  4.1,  6.7,  3.8,  4.5,  6.6,
        5.5, 36.5, 37.5, 30.8, 34.4, 30.5, 33.9, 37. , 41.2, 36.8, 38.7,
       32.2, 35.7, 36.9, 37.2, 40.1, 43.5, 41.3, 40.8, 35.5, 43.3, 38. ,
       37.3, 40.9, 43.7, 41.6, 44.8, 40.6, 37.9, 39.3, 45.1, 39.1, 37.6,
       36.1, 38.4, 38.3, 34.1, 38.6, 42.3, 33.2, 47.3, 33.7, 47.4, 51.9,
       38.1, 39.5,  7.8, 34.8,  7. ,  5.9, 44.7, 48.4, 40.5, 46.9, 51. ,
       40.2, 39.8, 44.2, 42.4, 43.1, 42. , 43.8, 44. , 53.7, 37.7, 53.8,
       39.4, 42.9, 45.2, 49.5, 51.3, 48. , 39.7, 41.7, 45.5, 48.3, 53.5,
       52.4, 50.1, 51.7, 52.7, 62.8, 47. , 41.5, 50.7, 52.5, 46.2, 59.3,
       48.8, 54.2, 50.6, 38.8, 36.2, 47.1, 52.1, 47.8,  6.3,  3.1,  6. ,
        4.6,  3.3,  4.2,  5.1,  6.2,  3.9,  5.3,  5.7,  3.7, 46.6, 44.4,
       43.4, 42.6, 42.2, 49.1,  4.9, 44.1, 39. , 46.5, 45.9, 64.3, 49.2,
        1.7,  3. ,  4.8,  2. ,  1.9,  3.5,  3.4,  2.6, 45.8, 44.5, 48.9,
       42.7])

In [21]:
dw_na.nunique() # nunique() serve per controllare il numero di valori unici in ogni colonna del dataframe

station_id                   56
city_name                    57
date                      24231
season                        4
avg_temp_c                  686
min_temp_c                  497
max_temp_c                  580
precipitation_mm            794
snow_depth_mm                98
avg_wind_dir_deg            361
avg_wind_speed_kmh          562
peak_wind_gust_kmh          415
avg_sea_level_pres_hpa      768
sunshine_total_min          969
dtype: int64

## Q. 2) Find the number of times when the 'Season is exactly Summer'.

In [31]:
dw_na.loc[dw_na['season'] == 'Summer'].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       station_id   city_name       date  season  avg_temp_c  min_temp_c  \
2991       91765   Pago Pago 1973-01-13  Summer        28.3        24.4
3028       91765   Pago Pago 1973-02-19  Summer        29.5        27.2
6235       91765   Pago Pago 1981-12-01  Summer        25.7        23.3
6237       91765   Pago Pago 1981-12-03  Summer        27.8        25.0
6238       91765   Pago Pago 1981-12-04  Summer        27.3        23.9
...          ...         ...        ...     ...         ...         ...
22264      72405  Washington 1997-08-16  Summer        31.6        25.6
22269      72405  Washington 1997-08-21  Summer        23.9        18.3
22271      72405  Washington 1997-08-23  Summer        21.0        15.6
22274      72405  Washington 1997-08-26  Summer        23.7        20.6
22275      72405  Washington 1997-08-27  Summer        24.1        20.0

       max_temp_c  precipitation_mm  snow_depth_mm  avg_wind_dir_deg  \
2991         31.1               0.0            0.0             117.0
3028         32.8               4.3            0.0             341.0
6235         27.8              13.2            0.0              44.0
6237         30.0               2.8            0.0              91.0
6238         30.0              28.2            0.0              86.0
...           ...               ...            ...               ...
22264        38.9               0.0            0.0             203.0
22269        30.0               0.0            0.0             301.0
22271        26.1               0.0            0.0             277.0
22274        28.3               0.0            0.0             183.0
22275        29.4               0.0            0.0             179.0

       avg_wind_speed_kmh  peak_wind_gust_kmh  avg_sea_level_pres_hpa  \
2991                  9.5                31.3                  1009.5
3028                 18.9                55.4                  1006.6
6235                 16.0                35.3                  1008.0
6237                 21.0                40.7                  1009.1
6238                 26.1                44.3                  1008.9
...                   ...                 ...                     ...
22264                16.2                33.8                  1013.3
22269                14.0                27.4                  1008.1
22271                14.4                27.4                  1016.9
22274                11.2                24.1                  1019.7
22275                15.8                25.9                  1016.2

       sunshine_total_min
2991                720.0
3028                636.0
6235                  0.0
6237                576.0
6238                330.0
...                   ...
22264               761.0
22269               498.0
22271               520.0
22274               480.0
22275               537.0

[92629 rows x 14 columns]>

In [60]:
dw_na[dw_na['season'] == 'Summer'][['season']].copy()

       season
2991   Summer
3028   Summer
6235   Summer
6237   Summer
6238   Summer
...       ...
22264  Summer
22269  Summer
22271  Summer
22274  Summer
22275  Summer

[92629 rows x 1 columns]

## Q. 3) Find the number of times when the 'Wind Speed was exactly 4 km/h'.

In [58]:
dw_na[dw_na['avg_wind_speed_kmh'] == 4.0][['avg_wind_speed_kmh']].copy()

       avg_wind_speed_kmh
14541                 4.0
15518                 4.0
15605                 4.0
16155                 4.0
16573                 4.0
...                   ...
29994                 4.0
29996                 4.0
30001                 4.0
8959                  4.0
6828                  4.0

[1761 rows x 1 columns]

## Q. 4) Find out all the Null Values in the data.

In [56]:
dailyweather.isnull().sum().sum() #due volte sum mi calcola il numero totale di null values di tutto il dataframe.

171634265

In [62]:
dailyweather.isnull().sum() #calcola il numero di null values per ogni colonna

station_id                       0
city_name                    13993
date                             0
season                           0
avg_temp_c                 6230907
min_temp_c                 5718229
max_temp_c                 5539346
precipitation_mm           6642500
snow_depth_mm             24208615
avg_wind_dir_deg          24183195
avg_wind_speed_kmh        22350295
peak_wind_gust_kmh        26514277
avg_sea_level_pres_hpa    23618606
sunshine_total_min        26614302
dtype: int64

In [52]:
dailyweather.notnull().sum()

station_id                27635763
city_name                 27621770
date                      27635763
season                    27635763
avg_temp_c                21404856
min_temp_c                21917534
max_temp_c                22096417
precipitation_mm          20993263
snow_depth_mm              3427148
avg_wind_dir_deg           3452568
avg_wind_speed_kmh         5285468
peak_wind_gust_kmh         1121486
avg_sea_level_pres_hpa     4017157
sunshine_total_min         1021461
dtype: int64

## Q. 5) Rename the column name 'Weather' of the dataframe to 'Weather Condition'.

In [63]:
dw_na.rename(columns = {'city_name':'city'}) #ricordarsi di aprire un dizionario {'nome colonna':'nomenuovo'}

,station_id,city,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
2991,91765,Pago Pago,1973-01-13,Summer,28.3,24.4,31.1,0.0,0.0,117.0,9.5,31.3,1009.5,720.0
3028,91765,Pago Pago,1973-02-19,Summer,29.5,27.2,32.8,4.3,0.0,341.0,18.9,55.4,1006.6,636.0
3039,91765,Pago Pago,1973-03-02,Autumn,28.0,25.0,31.7,0.5,0.0,281.0,14.6,35.3,1008.0,648.0
3063,91765,Pago Pago,1973-03-26,Autumn,28.0,24.4,31.1,4.1,0.0,34.0,11.3,37.1,1010.9,192.0
3131,91765,Pago Pago,1973-06-02,Winter,28.2,25.6,30.6,0.0,0.0,100.0,21.4,37.1,1011.3,354.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22424,72405,Washington,1998-01-23,Winter,5.9,2.2,10.6,45.5,0.0,16.0,13.7,25.9,1016.8,0.0
22425,72405,Washington,1998-01-24,Winter,5.2,0.6,10.6,3.6,0.0,334.0,19.8,38.5,1009.7,233.0
22426,72405,Washington,1998-01-25,Winter,3.4,1.1,7.2,0.0,0.0,326.0,18.0,48.2,1018.4,539.0
22429,72405,Washington,1998-01-28,Winter,3.8,2.8,5.0,40.9,0.0,12.0,29.5,61.2,1007.3,0.0
22432,72405,Washington,1998-01-31,Winter,3.6,1.1,7.8,0.0,0.0,330.0,19.8,35.3,1016.8,315.0

## Q. 6) What is the mean 'precipitation_mm' ?

In [67]:
dw_na['precipitation_mm'].mean()

2.3230660906076324

## Q. 7) What is the Standard Deviation of 'Pressure'  in this data?

In [73]:
import numpy as np

In [74]:
dw_na['avg_sea_level_pres_hpa'].std()

8.518612997361616

In [138]:
dw_na.groupby(['city_name'])[numeric_columns].mean()
dw_na.groupby(['city_name'])[numeric_columns].agg([np.std, np.mean])

          avg_temp_c      min_temp_c      max_temp_c      precipitation_mm  \
                 std mean        std mean        std mean              std
city_name
Aalborg          NaN  NaN        NaN  NaN        NaN  NaN              NaN
Abakan           NaN  NaN        NaN  NaN        NaN  NaN              NaN
Abha             NaN  NaN        NaN  NaN        NaN  NaN              NaN
Abidjan          NaN  NaN        NaN  NaN        NaN  NaN              NaN
Aboisso          NaN  NaN        NaN  NaN        NaN  NaN              NaN
...              ...  ...        ...  ...        ...  ...              ...
Ä°zmir            NaN  NaN        NaN  NaN        NaN  NaN              NaN
ÅŒita             NaN  NaN        NaN  NaN        NaN  NaN              NaN
ÅŒsaka            NaN  NaN        NaN  NaN        NaN  NaN              NaN
ÅžanlÄ±urfa        NaN  NaN        NaN  NaN        NaN  NaN              NaN
Å ibenik          NaN  NaN        NaN  NaN        NaN  NaN              NaN

               snow_depth_mm      avg_wind_dir_deg      avg_wind_speed_kmh  \
          mean           std mean              std mean                std
city_name
Aalborg    NaN           NaN  NaN              NaN  NaN                NaN
Abakan     NaN           NaN  NaN              NaN  NaN                NaN
Abha       NaN           NaN  NaN              NaN  NaN                NaN
Abidjan    NaN           NaN  NaN              NaN  NaN                NaN
Aboisso    NaN           NaN  NaN              NaN  NaN                NaN
...        ...           ...  ...              ...  ...                ...
Ä°zmir      NaN           NaN  NaN              NaN  NaN                NaN
ÅŒita       NaN           NaN  NaN              NaN  NaN                NaN
ÅŒsaka      NaN           NaN  NaN              NaN  NaN                NaN
ÅžanlÄ±urfa  NaN           NaN  NaN              NaN  NaN                NaN
Å ibenik    NaN           NaN  NaN              NaN  NaN                NaN

               peak_wind_gust_kmh      avg_sea_level_pres_hpa       \
          mean                std mean                    std mean
city_name
Aalborg    NaN                NaN  NaN                    NaN  NaN
Abakan     NaN                NaN  NaN                    NaN  NaN
Abha       NaN                NaN  NaN                    NaN  NaN
Abidjan    NaN                NaN  NaN                    NaN  NaN
Aboisso    NaN                NaN  NaN                    NaN  NaN
...        ...                ...  ...                    ...  ...
Ä°zmir      NaN                NaN  NaN                    NaN  NaN
ÅŒita       NaN                NaN  NaN                    NaN  NaN
ÅŒsaka      NaN                NaN  NaN                    NaN  NaN
ÅžanlÄ±urfa  NaN                NaN  NaN                    NaN  NaN
Å ibenik    NaN                NaN  NaN                    NaN  NaN

          sunshine_total_min
                         std mean
city_name
Aalborg                  NaN  NaN
Abakan                   NaN  NaN
Abha                     NaN  NaN
Abidjan                  NaN  NaN
Aboisso                  NaN  NaN
...                      ...  ...
Ä°zmir                    NaN  NaN
ÅŒita                     NaN  NaN
ÅŒsaka                    NaN  NaN
ÅžanlÄ±urfa                NaN  NaN
Å ibenik                  NaN  NaN

[1234 rows x 20 columns]

## Q. 8) What is the Variance of 'snow_depth_mm' in this data ?

In [91]:
dw_na['snow_depth_mm'].var()

1184.3663848633664

## Q. 9) Find all instances when 'Budapest' was recorded.

In [104]:
dw_na.loc[dw_na['city_name'] == 'Pago Pago'].copy()

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
2991,91765,Pago Pago,1973-01-13,Summer,28.3,24.4,31.1,0.0,0.0,117.0,9.5,31.3,1009.5,720.0
3028,91765,Pago Pago,1973-02-19,Summer,29.5,27.2,32.8,4.3,0.0,341.0,18.9,55.4,1006.6,636.0
3039,91765,Pago Pago,1973-03-02,Autumn,28.0,25.0,31.7,0.5,0.0,281.0,14.6,35.3,1008.0,648.0
3063,91765,Pago Pago,1973-03-26,Autumn,28.0,24.4,31.1,4.1,0.0,34.0,11.3,37.1,1010.9,192.0
3131,91765,Pago Pago,1973-06-02,Winter,28.2,25.6,30.6,0.0,0.0,100.0,21.4,37.1,1011.3,354.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14973,91765,Pago Pago,2005-11-03,Spring,28.5,26.1,30.6,14.0,0.0,112.0,27.4,45.0,1010.5,216.0
14974,91765,Pago Pago,2005-11-04,Spring,28.2,26.1,30.6,17.0,0.0,107.0,26.3,48.2,1010.1,161.0
14992,91765,Pago Pago,2005-11-22,Spring,29.7,28.3,31.7,0.0,0.0,81.0,18.0,33.8,1010.5,764.0
15006,91765,Pago Pago,2005-12-06,Summer,29.8,28.3,31.1,0.0,0.0,105.0,13.3,27.4,1008.1,417.0
15020,91765,Pago Pago,2005-12-20,Summer,29.4,26.7,31.1,43.9,0.0,77.0,25.9,65.9,1010.8,293.0

## Q. 10) Find all instances when 'Wind Speed is above 24' and 'Average Temperature is 25'.

In [120]:
dw_na.loc[(dw_na['avg_temp_c'] == 25) & (dw_na['avg_wind_speed_kmh'] > 24), 'city_name'].count()

89

## Q. 11) What is the Mean value of each column against each 'Season' ?

In [130]:
numeric_columns = dw_na.select_dtypes(include=[np.number]).columns
dw_na.groupby(['season'])[numeric_columns].mean()

,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
season,,,,,,,,,,
Autumn,11.777127,7.770243,16.093270,2.374323,1.230978,189.545608,15.460621,39.282568,1015.782408,275.476023
Spring,10.811699,6.017725,15.772698,2.254054,3.351733,185.654954,16.500315,42.735873,1014.538750,391.365806
Summer,20.306388,15.207733,25.674241,2.698837,0.000820,194.862354,14.058236,39.348108,1014.553111,487.920694
Winter,2.770299,-0.609392,6.101116,1.992487,21.747224,198.304682,17.600185,42.579815,1016.700822,189.430857

In [136]:
dw_na.groupby(['season'])[numeric_columns].agg([np.mean,np.std, np.var])

       avg_temp_c                      min_temp_c                       \
             mean       std        var       mean       std        var
season
Autumn  11.777127  7.234830  52.342770   7.770243  7.150173  51.124978
Spring  10.811699  7.357759  54.136613   6.017725  7.239840  52.415278
Summer  20.306388  4.995714  24.957156  15.207733  4.852836  23.550015
Winter   2.770299  8.288136  68.693192  -0.609392  8.758622  76.713455

       max_temp_c                      precipitation_mm  ...  \
             mean       std        var             mean  ...
season                                                   ...
Autumn  16.093270  8.084495  65.359058         2.374323  ...
Spring  15.772698  8.093732  65.508502         2.254054  ...
Summer  25.674241  5.891794  34.713238         2.698837  ...
Winter   6.101116  8.434848  71.146668         1.992487  ...

       avg_wind_speed_kmh peak_wind_gust_kmh                         \
                      var               mean        std         var
season
Autumn          54.052255          39.282568  15.549949  241.800925
Spring          52.816628          42.735873  15.025251  225.758156
Summer          35.342232          39.348108  13.481642  181.754662
Winter          69.526500          42.579815  17.579473  309.037864

       avg_sea_level_pres_hpa                        sunshine_total_min  \
                         mean        std         var               mean
season
Autumn            1015.782408   8.346371   69.661904         275.476023
Spring            1014.538750   8.147140   66.375893         391.365806
Summer            1014.553111   5.270055   27.773478         487.920694
Winter            1016.700822  10.980449  120.570250         189.430857


               std           var
season
Autumn  240.590177  57883.633445
Spring  276.931920  76691.288078
Summer  274.363049  75275.082863
Winter  208.984897  43674.686986

[4 rows x 30 columns]

## Q. 12) What is the Minimum & Maximum value of each column against each 'Season' ?

In [150]:
numeric_columns = dw_na.select_dtypes(include=[np.number]).columns
dw_na.groupby(['season'])[numeric_columns].agg([np.min,np.max])

       avg_temp_c       min_temp_c       max_temp_c       precipitation_mm  \
             amin  amax       amin  amax       amin  amax             amin
season
Autumn      -22.5  38.1      -28.3  32.2      -20.6  44.4              0.0
Spring      -20.4  37.3      -25.0  30.0      -17.8  45.0              0.0
Summer        2.9  40.1        0.0  33.9        5.6  47.8              0.0
Winter      -32.2  29.5      -35.0  28.3      -30.6  35.0              0.0

              snow_depth_mm         avg_wind_dir_deg         \
         amax          amin    amax             amin   amax
season
Autumn  271.3           0.0   660.0              0.0  360.0
Spring  200.4           0.0  1161.0              0.0  360.0
Summer  262.6           0.0    76.0              0.0  360.0
Winter  200.4           0.0   965.0              0.0  360.0

       avg_wind_speed_kmh       peak_wind_gust_kmh         \
                     amin  amax               amin   amax
season
Autumn                0.4  79.2                3.6  410.8
Spring                0.0  92.2                0.0  151.6
Summer                0.4  78.5                0.0  185.0
Winter                0.0  84.2                0.0  180.0

       avg_sea_level_pres_hpa         sunshine_total_min
                         amin    amax               amin    amax
season
Autumn                  965.7  1045.4                0.0   816.0
Spring                  974.9  1047.5                0.0  1050.0
Summer                  986.6  1036.3                0.0  1086.0
Winter                  962.9  1053.0                0.0   703.0

## Q. 13) Show all the Records where Season is Autumn.

In [161]:
dw_na[dw_na['season'] == 'Autumn']

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
3039,91765,Pago Pago,1973-03-02,Autumn,28.0,25.0,31.7,0.5,0.0,281.0,14.6,35.3,1008.0,648.0
3063,91765,Pago Pago,1973-03-26,Autumn,28.0,24.4,31.1,4.1,0.0,34.0,11.3,37.1,1010.9,192.0
6325,91765,Pago Pago,1982-03-01,Autumn,27.0,25.0,28.3,66.0,0.0,338.0,39.9,85.0,1006.0,0.0
6326,91765,Pago Pago,1982-03-02,Autumn,28.6,26.1,31.7,10.9,0.0,20.0,26.5,79.6,1011.8,396.0
6329,91765,Pago Pago,1982-03-05,Autumn,28.2,26.1,31.1,4.6,0.0,110.0,20.6,50.0,1011.1,402.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22357,72405,Washington,1997-11-17,Autumn,2.9,-2.8,8.9,0.0,0.0,269.0,12.6,41.8,1025.9,600.0
22364,72405,Washington,1997-11-24,Autumn,3.7,0.0,6.7,0.0,0.0,308.0,20.9,61.2,1022.6,518.0
22365,72405,Washington,1997-11-25,Autumn,3.3,-2.2,8.3,0.0,0.0,227.0,15.5,33.8,1025.1,574.0
22366,72405,Washington,1997-11-26,Autumn,8.3,2.2,13.9,0.0,0.0,209.0,18.4,64.4,1010.6,240.0
22367,72405,Washington,1997-11-27,Autumn,9.7,4.4,13.3,0.0,0.0,301.0,16.9,61.2,1017.1,496.0

## Q. 14) Find all instances when 'season is summer' or 'wind spees above 40'.

In [172]:
dw_na[(dw_na['season'] == 'Summer') | (dw_na['avg_wind_speed_kmh'] > 40)].copy()

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
2991,91765,Pago Pago,1973-01-13,Summer,28.3,24.4,31.1,0.0,0.0,117.0,9.5,31.3,1009.5,720.0
3028,91765,Pago Pago,1973-02-19,Summer,29.5,27.2,32.8,4.3,0.0,341.0,18.9,55.4,1006.6,636.0
6235,91765,Pago Pago,1981-12-01,Summer,25.7,23.3,27.8,13.2,0.0,44.0,16.0,35.3,1008.0,0.0
6237,91765,Pago Pago,1981-12-03,Summer,27.8,25.0,30.0,2.8,0.0,91.0,21.0,40.7,1009.1,576.0
6238,91765,Pago Pago,1981-12-04,Summer,27.3,23.9,30.0,28.2,0.0,86.0,26.1,44.3,1008.9,330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22264,72405,Washington,1997-08-16,Summer,31.6,25.6,38.9,0.0,0.0,203.0,16.2,33.8,1013.3,761.0
22269,72405,Washington,1997-08-21,Summer,23.9,18.3,30.0,0.0,0.0,301.0,14.0,27.4,1008.1,498.0
22271,72405,Washington,1997-08-23,Summer,21.0,15.6,26.1,0.0,0.0,277.0,14.4,27.4,1016.9,520.0
22274,72405,Washington,1997-08-26,Summer,23.7,20.6,28.3,0.0,0.0,183.0,11.2,24.1,1019.7,480.0
22275,72405,Washington,1997-08-27,Summer,24.1,20.0,29.4,0.0,0.0,179.0,15.8,25.9,1016.2,537.0

## Q. 15) Find all instances when :
### A. 'Season is Winter' and 'precipitation is greater than 4.0'
### or
### B. 'wind speed is above 40'

In [178]:
dw_na[((dw_na['season'] == 'Winter') & (dw_na['precipitation_mm'] == 4.0)) | (dw_na['avg_wind_speed_kmh'] > 40)]

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
7372,91765,Pago Pago,1985-01-11,Summer,27.2,24.4,28.9,18.3,0.0,349.0,41.0,107.3,1006.9,0.0
7956,91765,Pago Pago,1986-08-18,Winter,24.1,22.2,25.6,4.1,0.0,140.0,43.2,66.6,1014.4,28.0
8203,91765,Pago Pago,1987-04-22,Autumn,26.7,25.6,27.8,17.3,0.0,129.0,43.2,66.6,1005.1,0.0
8825,91765,Pago Pago,1989-01-03,Summer,26.0,24.4,27.2,73.7,0.0,344.0,41.0,79.6,1006.8,0.0
8828,91765,Pago Pago,1989-01-06,Summer,25.0,22.8,26.7,143.8,0.0,359.0,42.5,110.9,1007.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19088,72408,Trenton,1993-03-14,Spring,-5.3,-7.2,-3.3,0.8,305.0,292.0,47.5,87.1,998.8,305.0
19781,72408,Trenton,1995-02-05,Winter,-7.4,-13.3,-1.7,0.0,152.0,287.0,41.4,81.4,1000.4,380.0
14094,72405,Washington,1975-04-04,Spring,4.6,1.7,8.9,0.0,0.0,307.0,42.7,97.9,1006.7,762.0
15122,72405,Washington,1978-01-26,Winter,5.7,-3.3,15.0,15.7,0.0,225.0,44.8,107.3,987.2,420.0
18423,72405,Washington,1987-02-09,Winter,-1.2,-4.4,2.2,0.0,0.0,324.0,40.7,79.6,1011.0,511.0