In [1]:
import pandas as pd
import numpy as np

In [2]:
cars_raw = pd.read_csv('/home/student/masterbfg/file.csv', sep = ',')

## Q. 1) Instruction ( For Data Cleaning ) - Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.

In [3]:
cars_raw.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [4]:
cars_raw.shape

(432, 15)

In [5]:
cars = cars_raw.dropna()c

In [6]:
cars.shape

(426, 15)

## Q. 2) Question ( Based on Value Counts )- Check what are the different types of Make are there in our dataset. And, what is the count (occurrence) of each Make in the data ?

In [9]:
cars.Make.unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [7]:
cars['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Hyundai          12
Jaguar           12
Volvo            12
Subaru           11
Pontiac          11
Lexus            11
Kia              11
Lincoln           9
Buick             9
Mazda             9
Mercury           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

## Q. 3) Instruction ( Filtering ) - Show all the records where Origin is Asia or Europe.

In [15]:
cars[(cars['Origin'] == 'Europe') | (cars['Origin'] == 'Asia')][['Make','Origin']].value_counts()

Make           Origin
Toyota         Asia      28
Mercedes-Benz  Europe    26
BMW            Europe    20
Audi           Europe    19
Honda          Asia      17
Nissan         Asia      17
Volkswagen     Europe    15
Mitsubishi     Asia      13
Volvo          Europe    12
Hyundai        Asia      12
Jaguar         Europe    12
Kia            Asia      11
Subaru         Asia      11
Lexus          Asia      11
Mazda          Asia       9
Suzuki         Asia       8
Infiniti       Asia       8
Porsche        Europe     7
Saab           Europe     7
Acura          Asia       7
Land Rover     Europe     3
MINI           Europe     2
Scion          Asia       2
Isuzu          Asia       2
dtype: int64

## Q. 4) Instruction ( Removing unwanted records ) - Remove all the records (rows) where Weight is above 4000.

In [29]:
cars_light = cars[cars['Weight'] < 4000.0]

In [30]:
cars_light.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0

In [32]:
cars_light.shape

(323, 15)

In [38]:
cars_light[['Make', 'Weight']].count()

Make      323
Weight    323
dtype: int64

## Q. 5) Instruction ( Applying function on a column ) - Increase all the values of 'MPG_City' column by 3.

In [39]:
cars_light.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0

In [46]:
new_cars = cars_light.MPG_City+3

In [47]:
new_cars.head(5)

1    27.0
2    25.0
3    23.0
4    21.0
5    21.0
Name: MPG_City, dtype: float64

In [49]:
cars_light['MPG_City'] = cars_light['MPG_City'].apply(lambda  x:x+3)

/tmp/ipykernel_3660/32874111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_light['MPG_City'] = cars_light['MPG_City'].apply(lambda  x:x+3)

In [50]:
cars_light.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,25.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,23.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,21.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,21.0,24.0,3893.0,115.0,197.0

In [54]:
cars_light.sort_values(by ='MPG_City', ascending = False)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
152,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,"$19,110","$17,911",2.0,3.0,73.0,63.0,66.0,1850.0,95.0,155.0
377,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,Front,"$20,510","$18,926",1.5,4.0,110.0,62.0,51.0,2890.0,106.0,175.0
151,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,Front,"$20,140","$18,451",1.4,4.0,93.0,49.0,51.0,2732.0,103.0,175.0
408,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,Front,"$21,055","$19,638",1.9,4.0,100.0,41.0,46.0,3003.0,99.0,172.0
157,Honda,Civic HX 2dr,Sedan,Asia,Front,"$14,170","$12,996",1.7,4.0,117.0,39.0,44.0,2500.0,103.0,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,BMW,M3 coupe 2dr,Sports,Europe,Rear,"$48,195","$44,170",3.2,6.0,333.0,19.0,24.0,3415.0,108.0,177.0
25,Audi,S4 Avant Quattro,Wagon,Europe,All,"$49,090","$44,446",4.2,8.0,340.0,18.0,21.0,3936.0,104.0,179.0
254,Mazda,B4000 SE Cab Plus,Truck,Asia,All,"$22,350","$20,482",4.0,6.0,207.0,18.0,19.0,3571.0,126.0,203.0
19,Audi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040","$43,556",4.2,8.0,340.0,17.0,20.0,3825.0,104.0,179.0
116,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,"$81,795","$74,451",8.3,10.0,500.0,15.0,20.0,3410.0,99.0,176.0